<div class="container mb-1">
  <div class="row">
    <h1>Editar Restaurante</h1>

    <%= render 'form', restaurant: @restaurant %>

    <%= link_to 'Ver', @restaurant, class: 'btn bnt-sucess' %>

    <%= link_to 'Voltar', restaurants_path, class: 'btn bnt-sucess' %>

  </div>
</div>