<div class="container mb-1">
  <div class="row">
    <h1>Editing Category</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Show', @category %> |
    <%= link_to 'Back', categories_path, class: 'btn bnt-sucess' %>

  </div>
</div>