<ul class="menu">

  <a href="/">Home</a>
  <li><%= link_to 'Restaurantes', restaurants_path %></li>
  <li><%= link_to 'Ingredientes', ingredients_path %></li>
  <li><%= link_to 'Categorias', categories_path %></li>
  <li><%= link_to 'Pratos', dishes_path %></li>

</ul>

<hr>